
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: hsl(47,88%,63%);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Figtree', sans-serif;
  font-size: 1rem;
  font-style: normal;
}

.attribution
{
  position: absolute;
  bottom: 0;
}

.card
{
  background-color:hsl(0, 0%, 100%);
  border-radius: 1.25rem;
  max-width: 24rem;
  width: 90%;
  box-shadow: 8px 8px 0 0 black;
  padding: 1rem;
}

.illus
{
  width: 100%;
  border-radius: 0.625rem;
}

.tag
{
  display: inline-block; /*without the display inline block the properties of box model will not have any effect on inline elements.*/
  background-color: hsl(47,88%,63%);
  padding: 0.375rem 0.75rem;
  margin-top: 1rem;
  border-radius: 4px;
}


.date,h2,p,.author
{
  margin-top: 1rem;
}

.author{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.author .avatar
{
  height: 2rem;
  width: 2rem;
}

.author p{
  margin-top: 0px;
}

.content
{
  color: hsl(0, 0%, 42%);
  line-height: 1.5;
}

.author p, .tag
{
  font-weight: 800;
}

h2
{
  cursor: pointer;
}

h2:hover
{
   color:hsl(47,88%,63%);
}
