*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: hsl(47,88%,63%);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.attribution
{
  position: absolute;
  bottom: 0;
}

.card
{
  background-color:hsl(0, 0%, 100%);
  border-radius: 16px;
  max-width: 320px;
  width: 90%;
  box-shadow: 6px 6px 0 0 black;
}

.illus
{
  width: 90%;
  border-radius: 12px;
}

.author
{
  display: flex;
}


