
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: hsl(47,88%,63%);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.attribution
{
  position: absolute;
  bottom: 0;
}

.card
{
  background-color:hsl(0, 0%, 100%);
  border-radius: 16px;
  max-width: 320px;
  width: 100%;
  box-shadow: 6px 6px 0 0 black;
  padding: 16px;
}

.illus
{
  width: 100%;
  border-radius: 12px;
}

.tag
{
  display: inline-block; /*without the display inline block the properties of box model will not have any effect on inline elements.*/
  background-color: hsl(47,88%,63%);
  padding: 5px 8px;
  margin-top: 16px;
  border-radius: 5px;
}

.date,h2,p,.author
{
  margin-top: 16px;
}

.author{
  display: flex;
  gap: 15px;
}

.author .avatar
{
  height: 30px;
}


